  <div class="currency-exchanger-section">
    <div class="column">
      <p>
        <span class="currency-label">
          {{
          !detail ? 'Currency Exchanger' :
            fromCurrency + ' - ' + currencyService.getCurrencyName(fromCurrency)
          }}
        </span>
        <span class="buttons-container" *ngIf="detail">
          <button (click)="backToHome()">Back to Home</button>
        </span>
      </p>
    </div>

    <div class="exchange-details">
      <!-- First Row -->
      <div class="exchange-row">
        <div class="column">
          <label for="amount">Amount</label>
          <input type="number" id="amount" [(ngModel)]="newAmount" />
        </div>

        <div class="column">
          <label for="fromCurrency">From</label>
          <select id="fromCurrency" [(ngModel)]="fromCurrency">
            <ng-container *ngFor="let currentCurrency of currencyValues">
              <option [value]="currentCurrency.currency">
                {{ currentCurrency.currency }}
              </option>
            </ng-container>
          </select>
        </div>

        <div class="column arrow-column">
          <span class="arrow" (click)="swapCurrency()">&#8596;</span>
        </div>

        <div class="column">
          <label for="toCurrency">To</label>
          <select id="toCurrency" [(ngModel)]="toCurrency">
            <ng-container *ngFor="let currentCurrency of currencyValues">
              <option [value]="currentCurrency.currency">
                {{ currentCurrency.currency }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>

      <!-- Second Row -->
      <div class="exchange-row buttons-container padding-three">
        <button (click)="convert()">Convert</button>
      </div>

      <!-- Third Row -->
      <div class="exchange-row">
        <div class="column span-one info">
          <p class="info-text">1.00 {{ fromCurrency }} = {{ (getCurrencyRate(toCurrency) / amount).toFixed(2) }} {{ toCurrency }}</p>
        </div>

        <div class="column info" [ngClass]="detail ? 'span-three' : 'span-two'">
          <p class="info-text full-height">{{ getCurrencyRate(toCurrency).toFixed(2) }} {{ toCurrency }}</p>
        </div>

        <div class="column buttons-container span-one" *ngIf="!detail">
          <button (click)="showDetails()">More details</button>
        </div>
      </div>
    </div>
  </div>
